<div class="container">
    <div>
        <form role="form" name="addForm" enctype="multipart/form-data" novalidate>
            <div class="form-group" ng-class="{'has-error': addForm.title.$touched && addForm.title.$invalid}">
                <label>Title</label>
                <input type="text" ng-model="add.title" name="title" ng-required="true" class="form-control">
                <div class="help-block" ng-messages="addForm.title.$error" ng-if="addForm.title.$touched">
                    <p ng-message="required">Title is required</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': addForm.content.$touched && addForm.content.$invalid }">
                <label>Content</label>
                <textarea ng-model="addForm.content" name="content" ng-maxlength="200" ng-required="true" class="form-control"></textarea>
                <div class="help-block" ng-messages="addForm.content.$error" ng-if="addForm.content.$touched">
                    <p ng-message="required">Content is required</p>
                    <p ng-message="maxlength">Content can contain only 200 characters</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':addForm.image.$touched && addForm.image.$invalid}">
                <label>Image</label>
                <input type="file" ng-required="true">
                <div class="help-block" ng-messages="addForm.image.$error" ng-if="addForm.image.$touched">
                    <p ng-message="required">Image is required</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': addForm.tags.$touched && addForm.tags.$invalid}">
                <label>Tags</label>
                <tags-input max-tags="5" ng-model="tags" name="tags"></tags-input>
                <div class="help-block" ng-messages="addForm.tags.$error" ng-if="addForm.tags.$touched">
                    <p ng-message="">Maximum 5 tags can be added</p>
                </div>
            </div>
            <input type="submit" value="Add Blog">
        </form>

    </div>
</div>